

[Unit]
Description=LEDs
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python /home/sander/projects/led-scales/main.py leds {mode}
WorkingDirectory=/home/sander/projects/led-scales

[Install]
WantedBy=multi-user.target